<body class="game">
	
	<div class="panel">
		<div class="container">
			<p class="counter">punkts: 
				<span id='points'>0</span> 
				<span id='calculator'></span> <span id="wows">!</span>
			</p>

			<span id='wombo'></span>
		</div>

		<span class="starter">
			    Start
		</span>
	</div>

	<div class="field">
		<div class="rabbit1"></div>
		<div class="rabbit2"></div>
		<div class="rabbit3"></div>
		<div class="rabbit4"></div>
		<div class="rabbit5"></div>
		<div class="rabbit6"></div>
		<div class="rabbit7"></div>
		<div class="rabbit8"></div>
		<div class="rabbit9"></div>
	</div>

	<div class="get_score">
		<div class="cell">
		<h1>Your score is: <span class="score_display"></span></h1>
		
		<%= render 'form' %>
		</div>
	</div>

</body>